<!-- html head section -->
<head>
  <title>WeGrow</title>
  <link rel="shortcut icon" href="https://www.shareicon.net/data/256x256/2016/01/06/699207_plant_512x512.png">
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style/styles.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://flesler-plugins.googlecode.com/files/jquery.scrollTo-1.4.2-min.js"></script>
  <script src="http://flesler-plugins.googlecode.com/files/jquery.localscroll-1.2.7-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<!-- html body section -->
<body id="#body" data-spy="scroll">

  <!-- Top navbar, fixed on screen -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand visible-xs text-center name-text"><a class="name-text" href="/">WeGrow</a></div>
    <div class="navbar-brand visible-sm text-center name-text"><a class="name-text" href="/">WeGrow</a></div>
    <div class="navbar-brand navbar-center hidden-xs hidden-sm text-center name-text"><a class="name-text" href="/">WeGrow</a></div>
    </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="links-text button" href="/#find-on-map">Find a garden nearby</a></li>
      <li><a class="links-text button" href="/#benefits">Benefits</a></li>
      <li><a class="links-text button" href="/#contact">Contact</a></li>
      <li><a class="links-text button" href="/admin">Admin</a></li>
      <li><a class="links-text button"></a></li>
    </ul>
  </div>
  </nav>

<!-- Yield -->
<%= yield %>

<!-- Footer section -->
<footer class="footer page-footer center-on-small-only">
  <div class="container-fluid">
    <div>About (coming soon)</div>
    <div>FAQ (coming soon)</div>
  </div> </br>
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 WeGrow
    </div>
  </div>
</footer>

<!-- Render links to page sections when clicking navbar options -->
<script type="text/javascript" src="/script/navbar.js"> </script>

</body>
</html>
